html,
body,
app-index {
  margin: 0;
  color: #f7f9fb;
  background-color: #0a0d14;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1b1b00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(12, 12, 12);
  border-radius: 5px;
}

/** Presets */
body,
:root {
  --fc-primary: #101520;
  --fc-secondary: #2a3753;
  --fc-contrast: #07090e;
  --fc-text: #f7f9fb;

  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: var(--fc-text);
}

.chatContainer {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 90vh;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  background-color: var(--fc-primary);
  border-radius: 20px;
}

@media (max-width: 700px) {
  .chatContainer {
    height: 96vh;
    margin-top: 0;
    border-radius: 0;
  }
}

.chatArea {
  height: 100%;
  overflow-y: scroll;
}

.chatInputContainer {
  display: flex;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  color: var(--fc-text);
  font-size: 1em;
  background-color: var(--fc-contrast);
  border: solid;
  border-color: #2a3753;
  border-width: 1px;
  border-radius: 10px;
}

.nameInput {
  width: 100px;
  margin-right: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messageContainer p {
  position: relative;
  display: inline-block;
  max-width: 300px;
  margin: 0;
  margin-bottom: -3px;
  padding: 8px;
  overflow-wrap: break-word;
  background: rgb(1 137 217);
  border-radius: 7px;
  animation: slideRight 0.2s ease-in-out;
}

.messageContainer p label {
  display: block;
  white-space: pre-line;
}

@keyframes slideLeft {
  0% {
    right: -100%;
  }

  60% {
    right: 10px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideRight {
  0% {
    left: -100%;
  }

  60% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

.selfMessage {
  display: flex;
  justify-content: flex-end;
}

.selfMessage p {
  background: rgb(1 217 117);
  animation: slideLeft 0.2s ease-in-out;
}

.messageGroup {
  margin: 5px;
  filter: url(#gegga);

  /* filter: blur(10px) contrast(18);
  mix-blend-mode: screen; */
}

.messageName {
  font-weight: bold;
}

.mention {
  color: #ffe8e8;
  font-weight: bold;
}