html,
body,
app-index {
  margin: 0;
  background-color: #0a0d14;
}

/** Presets */
body,
:root {
  --fc-primary: #0084ff;
  --fc-secondary: #00d894;
  --fc-gold: #fad988;
  --fc-red: #ff9fa1;
  --fc-turquoise: #8af6eb;
  --fc-indigo: #a0a4f6;
  --fc-pink: #e78ff8;
  --fc-text: #f7f9fb;

  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: var(--fc-text);
}